.nav-item {
  color: unset;
}
.nav-item:active,
.nav-item:hover,
nav button:hover {
  color: var(--primary-color);
}

.big_title {
  font-size: 50px;
}
.group-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 10px #d0d0d0;
  border-radius: 10px;
  height: 150px;
  margin: 50px;
}
.card2 {
  box-shadow: 0 0 10px #d0d0d0;
  border-radius: 10px;
  /* height: 150px; */
  margin: 10px;
}
.line {
  height: 100px;
  background: #e6dfdf;
  width: 2px;
}

input[type="radio"]:checked + .card {
  border: 1px solid red !important;
}
input[type="radio"]:checked + .card div button {
  background-color: var(--primary-color) !important;
  color: #fff !important;
}
.price-card {
  width: 330px;
  padding: 30px;
  border-radius: 10px;
}
.swiper-slide {
  min-width: 300px;
  min-height: 250px;
  transition: all 1s ease-in-out;
  flex: none;
  border: 2px solid #dadadabd;
}
.footer {
  /* height: 500px; */
  padding-block: 30px;
  box-shadow: 0 0 2px #e9e9e9bd;
  background-color: #f2f2f276;
}
.icons {
  font-size: 35px;
  color: red;
}
.mobileNav {
  top: -100%;
}

@media (max-width: 576px) {
  .big_title {
    font-size: 1.4rem;
  }
  .button2,
  .button1 {
    width: 100%;
  }
  .group-card {
    margin: 20px;
  }
  .mobileNav {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1;
    text-align: center;
  }
  .mobileNav li {
    background-color: #c3c2c2;
    padding: 5px;
    margin: 2px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .big_title {
    font-size: 3rem;
  }
  .button2 {
    width: 100%;
  }
  .mobileNav {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
    transition: all 3s ease-in-out;
  }
  .mobileNav li {
    background-color: #c3c2c2;
    padding: 5px;
    margin: 2px;
  }
}
